.hero {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('../static/hello/images/homepage_image.JPG') no-repeat;
    background-size: cover;
    background-position: center;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;

}


