body {
    background: black;
}

main {
    height: 100vh;
    width: 100%;
}

.hero {
    display: flex;
    height: 100vh;
    background: url('../static/images/homepage_image.JPG') no-repeat;
    background-size: cover;
    background-position: center;
}

.visible {
    visibility: visible !important;
}


.invisible {
    visibility: hidden !important;
}

/*
@media (min-width: 1470px) {
    .img-fluid {
        max-width: 1470px;
        background-position: bottom;
    }
}
*/

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        height: 100vh;
        background: url('../static/images/data_code.jpeg') no-repeat;
        background-size: cover;
        background-position: center;
    }
   
    .visible {
        visibility: hidden !important;
        display: none;
    }

    
    .invisible {
        visibility: visible !important;
    }
}