body {
    background: black;
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;
    width: 100%;
}

.hero {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('../static/images/homepage_image.JPG') no-repeat;
    background-size: cover;
    background-position: center;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}



#profileCircle {
    width: 50%;
    height: 50%;
}

/*
@media (min-width: 1470px) {
    .img-fluid {
        max-width: 1470px;
        background-position: bottom;
    }
}
*/

@media screen and (max-width: 767px) {
    .hero {
        display: flex;
        height: 100vh;
        background: url('../static/images/data_code.jpeg') no-repeat;
        background-size: cover;
        background-position: center;
    }
}