{% extends "layout.html" %}

{% block title %}
    Contact Page
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-4">

                <div class="py-5 d-flex justify-content-center">
                    <h1 class="d-flex justify-content-center">Send Me a Message!</h1>
                </div>

                <form action="/contact" method="POST">
                    <div class="mb-3 mt-5">
                        <label class="form-label">First Name</label>
                        <input name="first" type="text" class="form-control" value="{{ first }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input name="last" type="text" class="form-control" value="{{ last }}" required>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" value="{{ email }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <textarea name="message" class="form-control" placeholder="Leave your message here" style="height: 100px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}