{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block body %}

    <!-- Sticky-Top Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Peter J. Schmidt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid bg-light vh-100">
        <div class="row h-100">
            <div class="col">
                <img src="../static/images/this_is_cs50.jpg" class="rounded mx-auto" alt="This is CS50">
            </div>
            <div class="col">
                CS50 Coursework
            </div>
        </div>

        <hr>

        <div class="row">

        </div>

        <hr>

        <div class="row">

        </div>
    </div>
{% endblock %}