{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block body %}

    <div class="container-fluid bg-light">
        <div class="row px-5 pt-5 pb-5">
            <div class="col">

                <div class="pb-5 d-flex justify-content-center">
                    <h1 class="d-flex justify-content-center text-decoration-underline">CS50 Certificates</h1>
                </div>

                <div class="row d-flex justify-content-evenly align-items-center">

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/CS50X-2.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    CS50
                                </h5>
                                <p class="card-text"> CS50's Introduction to Computer Science</p>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CS50">Final Project</button>
                                <a href="#" class="btn btn-primary disabled">See Certificate</a>
                            </div>
                        </div>
                    </div>

                    <!-- CS50 Modal -->
                    <div class="modal fade" id="CS50" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">CS50X Final Project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>You're looking at it!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/CS50Web-2.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    CS50 Web Development
                                </h5>
                                <p class="card-text">CS50's Web Development with Python and Javascript</p>
                                <a href="#" class="btn btn-primary disabled">Final Project</a>
                                <a href="#" class="btn btn-primary disabled">See Certificate</a>
                            </div>
                        </div>
                    </div>

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/CS50AI-2.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    CS50 AI
                                </h5>
                                <p class="card-text">CS50's Introduction to Artificial Intellegence with Python</p>
                                <a href="#" class="btn btn-primary disabled">See Certificate</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 
        <hr>

        <div class="row px-5 pt-5 pb-5">
            <div class="col m-auto">

                <div class="pb-5 d-flex justify-content-center">
                    <h1 class="d-flex justify-content-center text-decoration-underline">Other Certificates</h1>
                </div>


                <div class="row h-100">

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/freecodecamp_1.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    freeCodeCamp
                                </h5>
                                <p class="card-text">freeCodeCamp courses on Computer Science</p>
                                <a href="#" class="btn btn-primary disabled">Projects</a>
                                <a href="#" class="btn btn-primary disabled">See Certificates</a>
                            </div>
                        </div>
                    </div>

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/codecademy.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Codecademy
                                </h5>
                                <p class="card-text">Codecademy courses on various technologies and programming language</p>
                                <a href="#" class="btn btn-primary">Projects</a>
                                <a href="#" class="btn btn-primary disabled">See Certificates</a>
                            </div>
                        </div>
                    </div>

                    <div class="col pb-5 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/nvidia_dli_1.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Nvidia Deep Learning Institute
                                </h5>
                                <p class="card-text">Courses and deep learning projects centered around the Jetson Nano</p>
                                <a href="#" class="btn btn-primary disabled">Projects</a>
                                <a href="#" class="btn btn-primary disabled">See Certificates</a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        -->

    </div>
{% endblock %}