{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

        <!-- Hero Image -->
        <div class="hero">
        
            <!-- Container for Typewriter effect -->
            <div class="container-fluid d-none d-md-block">
                <div class="row h-100">
                    <div class="col">
                        <h1>Peter Schmidt</h1>
                    </div>
                    <h1 class="text-dark">Peter Schmidt</h1>
                </div>
            </div>

            <!-- Possible profile image  -->
            <!-- 
            <div class="container-fluid d-block d-md-none">
                <div class="row h-100">
                    <div class="col-12 align-items-center">
                        <img src='../static/images/homepage_image.JPG' class="ratio-1x1 img-fluid rounded-circle align-self-center" alt="profile picture">
                    </div>    
                    <div class="col-12 p-5">
                        <h1 class="text-white align-self-center">Peter Schmidt</h1>
                    </div>
                </div>
            </div>
            -->


        </div>

        <!-- Sticky-Top Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Peter J. Schmidt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/courses">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Blog</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid bg-light">

            <!-- About Me section -->
            <div class="row px-5 pt-5 pb-5">
                <div class="col m-auto">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        About Me
                                    </h4>
                                    <p class="card-text"> Hello, world! My name is Peter Schmidt. I am a self-taught developer and data scientest. Check out some of the projects I'm working on. I'll be posting regularly on my blog about my journey and the things I learn on the way.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cards for Links -->
            <div class="row px-5 pb-5">
                <div class="col m-auto">
                    <div class="row h-100">

                        <div class="col pb-5">
                            <div class="card">
                                <img src="../static/images/homepage_image.JPG" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        About Me
                                    </h5>
                                    <p class="card-text"> Take a look at some of my coursework.</p>
                                    <a href="#" class="btn btn-primary">See Coursework</a>
                                </div>
                            </div>
                        </div>

                        <div class="col pb-5 ">
                            <div class="card">
                                <img src="../static/images/data_code.jpeg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        About Me
                                    </h5>
                                    <p class="card-text"> Take a look at some of my coursework.</p>
                                    <a href="#" class="btn btn-primary">See Coursework</a>
                                </div>
                            </div>
                        </div>

                        <div class="col pb-5">
                            <div class="card">
                                <img src="../static/images/flight_with_nick.JPG" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        About Me
                                    </h5>
                                    <p class="card-text"> Take a look at some of my coursework.</p>
                                    <a href="#" class="btn btn-primary">See Coursework</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <img src="../static/images/CS50X-2.jpg" class="img-fluid" alt="This is CS50">
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                    <h3 class="align-self-center">Coursework</h3>
                    <p class="align-self-center">See what coursework I've done and what certificates I've earned.</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <img src="../static/images/data_code.jpeg" class="img-fluid" alt="This is CS50">
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                    <h3 class="align-self-center">Projects and Technologies</h3>
                    <p class="align-self-center">Take a look at the projects I'm working on and the technologies I use.</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <img src="../static/images/CS50X-2.jpg" class="img-fluid" alt="This is CS50">
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                    <h3 class="align-self-center">Other Work</h3>
                    <p class="align-self-center">A collection of non-tech related work that I've done.</p>
                </div>
            </div>

        </div>
    

{% endblock %}