{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

        <!-- Hero Image -->
        <div class="hero">
        
            <!-- Container for Typewriter effect -->
            <!-- Typewriter effect below is developed based on tutorials from Traversy Media, Dev Ed, and Geeks for Geeks -->
            <div class="container-fluid d-none d-md-block">
                <div class="row h-50">
                    <div class="col-md-8 col-lg-6 align-self-center justify-content-center">
                        <h1 class="d-flex align-items-center justify-content-center" style="font-family: 'Montserrat', serif; font-style: italic; font-size: 80px; text-shadow: 6px 6px 6px rgb(83, 83, 83);">Peter Schmidt</h1>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-md-6 col-lg-6">
                        <span class="d-flex justify-content-center">
                            <h3 class="d-flex align-items-center justify-content-center" style="font-family: 'Montserrat', serif; font-style: italic; font-size: 40px; text-shadow: 6px 6px 6px rgb(83, 83, 83);">Full Stack Developer</h3>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Possible profile image  -->
            <!-- 
            <div class="container-fluid d-block d-md-none">
                <div class="row h-100">
                    <div class="col-12 align-items-center">
                        <img src='../static/images/homepage_image.JPG' class="ratio-1x1 img-fluid rounded-circle align-self-center" alt="profile picture">
                    </div>    
                    <div class="col-12 p-5">
                        <h1 class="text-white align-self-center">Peter Schmidt</h1>
                    </div>
                </div>
            </div>
            -->


        </div>

        <!-- Sticky-Top Navbar -->
        <!-- Commented out for home page 
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Peter J. Schmidt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Blog</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
        
        <div class="container-fluid bg-light">

            <!-- About Me section -->
            <div class="row px-5 pt-5 pb-5">
                <div class="col m-auto">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title d-flex justify-content-center">
                                        About Me
                                    </h4>
                                    <p class="card-text d-flex justify-content-center"> Hello, world! My name is Peter Schmidt. I am a self-taught developer and data scientest. Check out some of the courses I've taken and projects I'm working on!</p>
                                    <span>
                                        <ul class="nav justify-content-center">
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#"><i class="bi bi-github"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#"><i class="bi bi-linkedin"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#"><i class="bi bi-youtube"></i></a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <a href="/education">
                        <img src="../static/images/CS50_lightbulbs.jpg" class="img-fluid" alt="Education">
                    </a>
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                    <h3 class="d-flex justify-content-center">Education</h3>
                    <p class="d-flex justify-content-center">See what coursework I've done and what certificates I've earned.</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <a href="/projects">
                        <img src="../static/images/data_code.jpeg" class="img-fluid" alt="Projects">
                    </a>
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center align-items-center">
                    <h3 class="d-flex justify-content-center">Projects</h3>
                    <p class="d-flex justify-content-center">Take a look at the projects I'm working on!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                    <a href="/other">
                        <img src="../static/images/Alison_Flight.jpg" class="img-fluid" alt="This is CS50">
                    </a>
                </div>
                <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                    <h3 class="d-flex justify-content-center">Other Work</h3>
                    <p class="d-flex justify-content-center">A collection of non-tech related work that I've done.</p>
                </div>
            </div>

        </div>
    

{% endblock %}