{% extends "layout.html" %}

{% block title %}
    Other Works
{% endblock %}

{% block body %}

    <div class="container-fluid bg-light">

        <div class="row">
            <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                <a href="https://www.youtube.com/channel/UC2V0BE0ytKSbUpOIiszlYCQ">
                    <figure class="figure">
                        <img src="../static/images/flight_with_nick.JPG" class="fig-img img-fluid" alt="Education">
                        <figcaption class="figure-caption">Flying with my brother.</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                <h3 class="d-flex justify-content-center">Aviation YouTube Channel</h3>
                <p class="d-flex justify-content-center">On this YouTube channel, I post aviation content. From actual flight training to home-built flight simulators, I use this 
                    channel to demonstrate the beauty of flight and the joy of learning to fly. Click on the image to check it out!
                </p>
            </div>
        </div>

        <!--
        <hr>
        -->

    </div>

{% endblock %}