{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block body %}

    <div class="container-fluid bg-light">

        <div class="row">
            <div class="col-sm-12 col-m-6 col-lg-4 px-5 py-5 d-flex align-self-center alight-items-center justify-content-center">
                <figure class="figure" href="https://github.com/peter-j-schmidt/portfolio_website">
                    <img src="../static/images/homepage_image.JPG" class="fig-img img-fluid" alt="Education">
                    <figcaption class="figure-caption">My personal website.</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-m-6 col-lg-8 align-self-center">
                <h3 class="d-flex justify-content-center">Personal Website</h3>
                <p class="d-flex justify-content-center">For my final project in CS50's Introduction to Computer Science, I created a website - this one! This website is a designed
                    with HTML, CSS/SCSS, Flask, and Bootstrap, and is partially based on CS50's Web Development distro code.
                </p>
            </div>
        </div>

        <!--
        <hr>
        -->

    </div>

{% endblock %}